<% if user_signed_in? %>
  <h4>トークルーム作成</h4>
  <%= form_with model: @room do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>

  <h4>参加済トークルーム一覧</h4>
    <%= @rooms.each do |room| %>
      <%= room.name %>
    <% end %>

  <h4>未参加トークルーム一覧</h4>
    <% @nonrooms.each do |room| %>
      <%= room.name %>
    <% end %>
  <% end %>

