<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <%= link_to "", root_path, class: "navbar__brand navbar__mainLogo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-md-auto align-items-center">

        <% if user_signed_in? %>
        <h5>ログイン中です</h5>
          <h5>名前:<%= current_user.name %></h5>
          <h5>メールアドレス: <%= current_user.email %> </h5>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
          <h5>ログインしていません</h5>
          <%= link_to "ログイン", new_user_session_path, class: 'post' %>
          <%= link_to "新規登録", new_user_registration_path, class: 'post' %> 
          <%= link_to 'ゲストログイン(閲覧用)', users_guest_sign_in_path, method: :post %>
        <% end %>

        <li>
          <%= link_to "マイページ", "#" %>
        </li>
        <li>
          <%= link_to "学校一覧", "#" %>
        </li>
        <li>
          <%= link_to "チャット", "#" %>
        </li>
        <li>
          <%= link_to "地図", maps_path %>
        </li>
        <li>
          <%= link_to "", "#", class: "nav-link commonNavIcon profile-icon" %>
        </li>
      </ul>
    </div>
  </div>
</nav>